<div class="container">
    <span class="display-6">公司名稱</span><button class="btn btn-primary float-end">管理公司資訊</button>

    
    <section class="container">
        <h6 class="display-6">目前職缺</h6>
        
        <button class="btn btn-primary">新增職缺</button>
    </section>
</div>